<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
        <!-- <tab id="catalog" translate="label" sortOrder="200">
           <label>Add Product Quantity</label>
        </tab> -->
        <section id="add_product_quantity" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
           <class>separator-top</class>
           <label>Add Product Quantity</label>
           <tab>catalog</tab>
           <resource>Dev_QuantityAdd::configuration</resource>
           <group id="add_quantity" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                     <label>Enable Add Product Quantity</label>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="number" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                     <label>Enter Number</label>
                     <validate>validate-number</validate>
                     <comment>Plus(+) Product Quantity</comment>
                </field>
          </group>
       </section>
     </system>
</config>